/* TEMPLATE */
html, p, h1, h2, h3, h4, h5 {
  font-family: 'Heebo', sans-serif !important;
}

h1 {
  font-size: 32px !important;
  font-weight: 300 !important;
}

p {
  font-size: 16px !important;
  font-weight: 300 !important;
}

.container-fluid {
  position: absolute;
  height: 40vh;
  left: 0px;

  background: linear-gradient(180deg, #FF0F7B 31.98%, #F89B29 100%);
}

.navbar-light {
  background-color: #FF0F7B !important;
}

.nav-link {
  padding: 5px !important;
  width: fit-content;
  float: right;

  color: #ffff !important;
}

.nav-link:hover {
  color: #c4c4c4 !important;
}

@media only screen and (min-width: 992px) {
  .nav-link {
    margin-inline: 5px;
  }
}

.active-link {
  border: 1px solid #ffff;
}

.navbar-toggler {
  border: 1px solid #000 !important;
  filter: grayscale(1) invert(1);
}

.btn-submit, .btn-reset {
  padding: 10px 20px 10px 20px !important;
}

.btn-submit {
  background-color: #0275d8 !important;
}

.btn-reset {
  background-color: #ff0f7b !important;
}

.btn-select {
  background-color: #0275d8 !important;
}

#dropdown-themes {
  width: 100%;
}

.user-input-div {
  padding: 35px 65px 35px 65px;
  border-radius: 39px;

  background-color: #ffff;
  box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.2);
}
/* EOF TEMPLATE */

/* EMOTION COMPONENTS */
.emotion-div {
  padding: 35px 65px 35px 65px;
  border-radius: 34px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);

  color: #ffff;
  text-align: left;
}

.anger {
  background: linear-gradient(180deg, #D3321D 26.32%, #FFCF67 100%);
}

.fear {
  background: linear-gradient(180deg, #3D05DD 26.32%, #FCB0F3 100%);
}

.joy {
  background: linear-gradient(180deg, #FF930F 26.32%, #FFF95B 100%);
}

.neutral {
  background: linear-gradient(180deg, #32C4C0 26.32%, #8DE9D5 100%);
}

.sadness {
  background: linear-gradient(180deg, #103783 26.32%, #9BAFD9 100%);
}
/* EOF EMOTION COMPONENTS */

/* ACCORDION */
.accordion-header {
  border: 2px solid #000 !important;
  border-radius: 23px;
}

.accordion-item, .accordion-button {
  border-radius: 23px !important;
}
/* EOF ACCORDION */

/* REACT MAP */
#map{
  width: 100px;
}

/* EOF REACT MAP */